.hexatenberg-js {
  margin: 20px auto;
  margin-right: 20px;
  background: #ffffff;
  padding: 20px;
  border: 1px solid #ccd0d4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hexatenberg-js h1 {
  font-size: 28px;
  color: #333333;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.hexatenberg-js h1 .dashicons {
  font-size: 28px;
  width: 28px;
  height: 28px;
}

/* FIXME : Revoir le h2 en style */
.hexatenberg-js h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.hexatenberg-js ul {
  list-style-type: none;
  padding: 0;
}

.hexatenberg-js li {
  background: #f7f7f7;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hexatenberg-js li.disabled-file {
  color: #999999;
  font-style: italic;
}

.hexatenberg-js li.disabled-file strong {
  font-weight: normal;
}

.hexatenberg-js .button-primary {
  background: #0073aa;
  border-color: #0073aa;
  color: #ffffff;
  text-shadow: none;
  box-shadow: none;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.hexatenberg-js .button-primary:hover {
  background: #005177;
  border-color: #005177;
}

.hexatenberg-js .button-secondary {
  background: #f3f3f3;
  border-color: #cccccc;
  color: #555555;
  text-shadow: none;
  box-shadow: none;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s;
}

.hexatenberg-js .button-secondary:hover {
  background: red;
  border-color: red;
  color: #ffffff;
}

.hexatenberg-js .notice {
  border: 1px solid #ccd0d4;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.hexatenberg-js .notice.updated {
  background: #e5f6df;
  color: #2c662d;
}

.hexatenberg-js .notice.error {
  background: #fbeaea;
  color: #a4262c;
}

.hexatenberg-js .flex-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hexatenberg-js .dashboard-stats {
  display: flex;
  gap: 20px;
}

.hexatenberg-js .dashboard-stats .stat-box {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hexatenberg-js .dashboard-stats .status-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexatenberg-js .dashboard-stats .number {
  font-size: 24px;
  font-weight: bold;
}

.hexatenberg-js .dashboard-stats .number.error {
  color: #a4262c;
}

.hexatenberg-js .avatar-small {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  margin-right: 10px;
  vertical-align: middle;
}

.hexatenberg-js .donut-progress {
  transition: stroke-dashoffset 1.5s ease-in-out;
  transform: rotate(-90deg) scaleX(-1);
}

.hexatenberg-js .history-table {
  border-radius: 5px;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.hexatenberg-js .history-table th {
  background: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid #efefef;
}

.hexatenberg-js .dashboard-history .user-header {
  border-top: 1px solid #efefef;
}

.hexatenberg-js .dashboard-history .user-name {
  font-weight: bold;
}

.status-added,
.status-add {
  color: #4caf50;
  background: rgba(76, 175, 80, 0.2);
  border-radius: 999px;
  padding: 5px 10px;
}
.status-updated,
.status-update {
  color: #2196f3;
  background: rgba(33, 150, 243, 0.2);
  border-radius: 999px;
  padding: 5px 10px;
}
.status-disabled,
.status-disable {
  color: #ff9800;
  background: rgba(255, 193, 7, 0.2);
  border-radius: 999px;
  padding: 5px 10px;
}
.status-enabled,
.status-enable {
  color: #069696;
  background: rgba(1, 173, 153, 0.264);
  border-radius: 999px;
  padding: 5px 10px;
}
.status-deleted,
.status-delete {
  color: #f44336;
  background: rgba(244, 67, 54, 0.2);
  border-radius: 999px;
  padding: 5px 10px;
}
.status-error {
  color: #8c1d9f;
  background: rgba(156, 39, 176, 0.2);
  border-radius: 999px;
  padding: 5px 10px;
}
.status-unknown {
  color: #4f6976;
  background: rgba(96, 125, 139, 0.2);
  border-radius: 999px;
  padding: 5px 10px;
}

/* Ajout */
.button-add {
  color: #fff;
  background: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 999px;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button-add:hover {
  background: #fff;
  color: #4caf50;
}

/* Mise à jour */
.button-update {
  color: #fff;
  background: #2196f3;
  border: 2px solid #2196f3;
  border-radius: 999px;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button-update:hover {
  background: #fff;
  color: #2196f3;
}

/* Désactivation */
.button-disable {
  color: #fff;
  background: #ff9800;
  border: 2px solid #ff9800;
  border-radius: 999px;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button-disable:hover {
  background: #fff;
  color: #ff9800;
}

/* Activation */
.button-enable {
  color: #fff;
  background: #00968c;
  border: 2px solid #00968c;
  border-radius: 999px;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button-enable:hover {
  background: #fff;
  color: #00968c;
}

/* Suppression */
.button-delete {
  color: white;
  background: #f44336;
  border: 2px solid #f44336;
  border-radius: 999px;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button-delete:hover {
  background: white;
  color: #f44336;
}

/* Erreur */
.button-error {
  color: white;
  background: #8c1d9f;
  border: 2px solid #8c1d9f;
  border-radius: 999px;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button-error:hover {
  background: white;
  color: #8c1d9f;
}

/* Inconnu */
.button-unknown {
  color: #fff;
  background: #4f6976;
  border: 2px solid #4f6976;
  border-radius: 999px;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button-unknown:hover {
  background: #fff;
  color: #4f6976;
}

.hexatenberg-js .user-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

.hexatenberg-js .user-list .user-item {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #333333;
  text-decoration: none;
  transition: all 0.3s;
}

.hexatenberg-js .user-list .user-item:hover {
  transform: scale(1.05);
  color: #0073aa;
}

.hexatenberg-js .user-list .user-item .user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.hexatenberg-js .user-list .user-item .user-name {
  /* font-weight: bold; */
  font-size: 24px;
  line-height: normal;
  margin: 0;
  
}

.hexatenberg-js .blocks-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: stretch;
  
  margin: 0 auto;
}

.hexatenberg-js .blocks-list .block-item {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #333333;
  text-decoration: none;
  transition: all 0.3s;
}

.hexatenberg-js .blocks-list .block-item:hover {
  transform: scale(1.05);
}

.hexatenberg-js .blocks-list .block-item .dashicons {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.hexatenberg-js .blocks-list .block-item .block-name{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hexatenberg-js .blocks-list .block-item .block-name h3 {
  margin: 0;
  font-size: 20px;
}

.hexatenberg-js .blocks-list .block-item .block-name .file-name {
  font-style: italic;
  font-size: 14px;
}

.hexatenberg-js .blocks-list .block-item .modified-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 4px; */
  text-align: center;
}
